<style>
    body {
        background: url('{{ (resources.Get "background/ocean.png").Permalink }}') no-repeat center top;
        background-size: cover;
        background-attachment: fixed;
    }
</style>
<div id="particles-js"></div>

<script src={{ (resources.Get "background/particles.min.js").Permalink }}></script>
<script>
    particlesJS.load('particles-js', '{{ (resources.Get "background/particlesjs-config.json").Permalink }}', function() {
        console.log('particles.js loaded - callback');
    });
</script>

<style>
    #particles-js {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
</style>
