<style>
    body {
        position: relative; /* 伪元素定位基于它 */
        z-index: 0; /* 保证层级 */
    }

    body::before {
        content: "";
        position: fixed; /* 固定背景，和你 background-attachment: fixed 效果一样 */
        top: 0; left: 0; right: 0; bottom: 0;
        background: url('{{ (resources.Get "background/ocean.png").Permalink }}') no-repeat center top;
        background-size: cover;
        opacity: 0.3; /* 透明度，0-1 之间调 */
        z-index: -1; /* 放到 body 内容后面 */
        pointer-events: none; /* 不影响点击 */
    }
</style>

<div id="particles-js"></div>

<script src={{ (resources.Get "background/particles.min.js").Permalink }}></script>
<script>
    particlesJS.load('particles-js', '{{ (resources.Get "background/particlesjs-config.json").Permalink }}', function() {
        console.log('particles.js loaded - callback');
    });
</script>

<style>
    #particles-js {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
    }
</style>

<!-- vercount的脚本；若用不蒜子，则更换成不蒜子的脚本就好 -->
<script defer src="https://cn.vercount.one/js"></script>
<script>
    function showHideView() {
        // 判断是否存在vercount标签
        let viewCounts = document.querySelectorAll("#viewCount");
        if (viewCounts) {
            // 判断是否为文章页
            let article =  document.querySelector(".article-page");
            if (!article) {
                viewCounts.forEach(ele => {
                    ele.style.display = 'none';
                });
            }
        }
    }
    
    showHideView();
</script>
